body {
	background-color: #767676;
	font: 15px/1.5 Arial, sans-serif;
	margin: 0;
	padding: 0;
}

#game-view {
	border: 1px solid black;
	display: block;
	margin-top: 1px;
	margin: auto;
}

#fps-view {
	display: inline-block;
}

#fps-view p {
	text-align: center;
}